<article>
    <form method="post" action="<?php echo $this->url('rContact-Gestion', array('action' => 'modifier')); ?>">
        <input type="hidden" name="id" value="<?php echo $this->unContact->getId(); ?>"/>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom" value="<?php echo $this->unContact->getNom(); ?>">
        </div>
        <br>
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" name="prenom" id="prenom" value="<?php echo $this->unContact->getPrenom(); ?>">
        </div>
        <br>
        <div class="form-group">
            <label for="telephone">Téléphone:</label>
            <input type="text" name="telephone" id="telephone" value="<?php echo $this->unContact->getTelephone(); ?>">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="<?php echo $this->unContact->getEmail(); ?>">
        </div>
        <br>
        <input type="submit" value="Modifier">
    </form> 
</article>
